<div class="container my-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus repellendus doloribus iure odit, officiis saepe laboriosam nesciunt et id hic molestiae modi maxime dolorum perferendis reprehenderit? Est veniam maxime nihil.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magni aliquam, id illo ipsum doloribus explicabo labore veritatis architecto amet illum fugit inventore excepturi, quos tenetur ab qui esse sint.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptates sed, cumque distinctio necessitatibus iure eum laudantium, quibusdam consequuntur explicabo optio similique quo est molestiae ab eaque qui aperiam natus!</p>
    </div>
    <div class="col-12 col-md-6">
      ​<picture>
        <img src="images/landschaft.jpg" class="img-fluid" alt="Bildunterschrift">
      </picture>
    </div>
  </div>
</div>