<div class="container my-4">
  <div class="row">
      <div class="col-12 col-md-6" style="height: 300px;">
        <div id="mapbox" class="mapbox" style="height: 100%;"></div>
      </div>
      <div class="col-12 col-md-6">
        <div class="table-div">
          <h4>Datensatz</h4>
          <app-dataset-table class="table"></app-dataset-table>
          <h4>Ereignis</h4>
          <app-event-table class="table"></app-event-table>
          <h4>Taxonomie</h4>
          <app-taxonomy-table class="table"></app-taxonomy-table>
          <h4>Geospatial</h4>
          <app-geospatial-table class="table"></app-geospatial-table>
        </div>
      </div>
  </div>
</div>
