<div class="mat-elevation-z8 map-table">
  <table mat-table class="table" matSort aria-label="Element">
    <!-- Id Column -->
    <ng-container matColumnDef="species">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Species</th>
      <td mat-cell *matCellDef="let row">{{row.species}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="recordCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Record Count</th>
      <td mat-cell *matCellDef="let row">{{row.recordCount}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
