.full-width-table {
  width: 100%;
}

.map-table{
  width: 100%;
  margin-right: 0%;
  text-align: center;
  box-shadow: none;
  border-right: 1px solid #dee2e6;
}

th {
  /* Sorry aber Bootstrap laesst nichts anderes zu*/
  vertical-align: middle!important;
}

td {
  /* Sorry aber Bootstrap laesst nichts anderes zu*/
  padding: 10px!important;
}
