.table, .speciestable {
    width: 25%;
    margin-left: 0%;
    float: left;
}

.map {
  width:50%;
  height: 30%;
}

.table {
    margin-bottom: 0;
}

/* Media Query for mobile only */
@media (max-width: 768px) {
    .table, .map, .speciestable{
        width: 100%;
    }
    #mapbox {
        min-height: 500px; /* Change this if this is too tall */
    }
}
